<!-- Horizontal Menu Start -->
<nav class="navbar horizontal-layout-2 col-lg-12 col-12 p-0 d-flex flex-row align-items-start">
    <div class="container">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="#">
                <img alt="logo" src="assets/images/logo.svg" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="#">
                <img alt="logo" src="assets/images/logo-mini.svg" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center pr-0">
            <ul class="navbar-nav header-links">
                <li (click)="menuPrincipal($event)" [class.active]="tabs" class="nav-item">
                    <a class="nav-link">
                        <i class="mdi mdi-pen"></i>
                        Planifier
                        <span class="badge badge-success ml-1">New</span>
                    </a>
                </li>
                <li (click)="menuSecondaire($event)" [class.active]="!tabs" class="nav-item">
                    <a class="nav-link">
                        <i class="mdi mdi-elevation-rise"></i>Rapport</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto dropdown-menus">
                <li class="nav-item">
                    <a class="nav-link" routerlink="/login">
                        <i class="mdi mdi-power power-off"></i>
                    </a>
                </li>
                <li class="nav-item mr-0">
                    <a class="nav-link py-0 pr-0" href="#">
                        <span class="text-black d-none d-lg-inline-block text-white mr-2">Hello, Sebastian !</span>
                        <img alt="profile image" class="img-xs rounded-circle" src="assets/images/faces/face1.jpg">
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler d-block d-md-none" type="button">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="nav-bottom">
            <ul class="navbar-nav">
                <li *ngFor="let nav of menu" [class.active]="nav.active" class="nav-item dropdown">
                    <a [href]="nav.url" class="nav-link count-indicator">
                        <i [class]="nav.icon"></i>
                        {{nav.title}}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-none d-lg-block">
                <li class="nav-item mr-4">
                    <form action="#">
                        <div class="form-group mb-0">
                            <div class="input-group search-field">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="mdi mdi-magnify"></i>
                                    </span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Horizontal Menu Ends -->