/* You can add global styles to this file, and also import other style files */
.toUpper{
    text-transform: uppercase;
}

.toLower{
    text-transform: lowercase;
}

li.nav-item.dropdown i.mdi{
    padding-right: 10px;
}

.power-off{
    background: crimson;
    padding: 3px;
    border-radius: 44%;
}
