/* You can add global styles to this file, and also import other style files */
.toUpper{
    text-transform: uppercase;
}

.toLower{
    text-transform: lowercase;
}

li.nav-item.dropdown i.mdi{
    padding-right: 10px;
}

.power-off{
    background: crimson;
    padding: .1rem .2rem;
    border-radius: 30%;
    cursor: pointer;
}

.footer .footer-link{
    padding: 0 10px;
}


/* Center the loader */
.loader {
    position: fixed;
    left: 46vw;
    top: 46vh;
    z-index: 1;
    margin: 0;
    border-radius: 50%;
    border-top: 10px solid #1fe476;
    width: 84px;
    height: 84px;
    background: #379eab;
    -webkit-animation: spin 1.3s linear infinite;
    animation: spin 1.3s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.swal-button {
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    padding: .4rem 1rem;
    margin: 0;
    cursor: pointer;
}

.swal-button--cancel {
    color: #555;
    background-color: #efefef;
    padding: .4rem 1rem;
}

.swal-footer {
    text-align: center;
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 30px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 30px;
    font-size: 27px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}

.swal-text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0 30px;
    font-weight: 400;
    color: rgba(0,0,0,.64);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}