<div class="container-scroller">
    <app-header></app-header>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <h4 class="page-title">Interface salarié</h4>
                            <div class="d-flex align-items-center">
                                <div class="wrapper mr-4 d-none d-sm-block">
                                    <p class="mb-0">Lundi 04
                                        <b class="mb-0">Avril 2019</b>
                                    </p>
                                </div>
                                <div class="wrapper">
                                    <a class="btn btn-link btn-sm font-weight-bold" href="#">
                                        <i class="icon-share-alt"></i>Export CSV</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 card-statistics">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between pb-2">
                                                <h5>Droits à congés</h5>
                                                <i class="mdi mdi-tooltip-outline-plus"></i>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-muted">Restant</p>
                                                <p class="text-muted">: 40</p>
                                            </div>
                                            <div class="progress progress-md">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info w-25" role="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between pb-2">
                                                <h5>Solde permission</h5>
                                                <i class="icon-pie-chart"></i>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-muted">Disponible</p>
                                                <p class="text-muted">: 10</p>
                                            </div>
                                            <div class="progress progress-md">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success w-25" role="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between pb-2">
                                                <h5>Congés consommés</h5>
                                                <i class="icon-wallet"></i>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-muted">Total</p>
                                                <p class="text-muted">: 54</p>
                                            </div>
                                            <div class="progress progress-md">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-danger w-25" role="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between pb-2">
                                                <h5>Permissions accordées</h5>
                                                <i class="mdi mdi-routes"></i>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <p class="text-muted">Total</p>
                                                <p class="text-muted">: 143</p>
                                            </div>
                                            <div class="progress progress-md">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-warning w-25" role="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card text-center">
                                <div class="card-body">
                                    <img alt="profile image" class="img-lg rounded-circle mb-2" src="assets/images/faces/face1.jpg" />
                                    <h4>Maria Johnson</h4>
                                    <p class="text-muted">Developer</p>
                                    <div class="table-responsive ">
                                        <table class="table table-borderless w-100">
                                            <tr>
                                                <td>
                                                    <strong>Rattachement :</strong>
                                                    SSI</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Email :</strong>
                                                    Richard@staradmin.com</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Matricule :</strong>
                                                    1242
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <button class="btn btn-info btn-sm mt-3 mb-4">Modifier</button>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title toLower">
                                        <span class="toUpper">T</span>otal des congés & absences
                                    </h4>
                                    <div class="d-flex justify-content-between pb-4">
                                        <p class="card-description mb-0 d-none d-sm-block">Activités de janvier à décembre
                                            <b>2019</b>
                                        </p>
                                        <div id="product-sales-legend"></div>
                                    </div>
                                    <!-- <canvas height="150" id="product-sales"></canvas> -->
                                    <canvas height="150" id="lineChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="card-title">Activités</h4>
                                    </div>
                                    <p class="card-description">What're people doing right now</p>
                                    <div class="list d-flex align-items-center border-bottom py-3">
                                        <img alt="" class="img-sm rounded-circle" src="assets/images/faces/face1.jpg">
                                        <div class="wrapper w-100 ml-3">
                                            <p class="mb-0">
                                                <b>Dobrick
                                                </b>posted in Material</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0">That's awesome!</p>
                                                </div>
                                                <small class="text-muted ml-auto">2 hours ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list d-flex align-items-center border-bottom py-3">
                                        <img alt="" class="img-sm rounded-circle" src="assets/images/faces/face5.jpg">
                                        <div class="wrapper w-100 ml-3">
                                            <p class="mb-0">
                                                <b>Stella
                                                </b>posted in Material</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0">That's awesome!</p>
                                                </div>
                                                <small class="text-muted ml-auto">3 hours ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list d-flex align-items-center border-bottom py-3">
                                        <img alt="" class="img-sm rounded-circle" src="assets/images/faces/face7.jpg">
                                        <div class="wrapper w-100 ml-3">
                                            <p class="mb-0">
                                                <b>Peter
                                                </b>posted in Material</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0">That's Great!</p>
                                                </div>
                                                <small class="text-muted ml-auto">1 hours ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list d-flex align-items-center pt-3">
                                        <img alt="" class="img-sm rounded-circle" src="assets/images/faces/face6.jpg">
                                        <div class="wrapper w-100 ml-3">
                                            <p class="mb-0">
                                                <b>Natalia
                                                </b>posted in Material</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0">That's awesome!</p>
                                                </div>
                                                <small class="text-muted ml-auto">1 hours ago</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Calendrier</h4>
                                    <div class="datepicker"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title toLower">
                                        <span class="toUpper">M</span>ise à jours</h4>
                                    <p class="card-description">What're people doing right now</p>
                                    <ul class="bullet-line-list">
                                        <li>
                                            <h6>User confirmation</h6>
                                            <p class="mb-2">Lorem Ipsum is simply dummy text of the printing
                                            </p>
                                            <p class="text-muted">
                                                <i class="mdi mdi-clock"></i>
                                                7 months ago.
                                            </p>
                                        </li>
                                        <li>
                                            <h6>Continuous evaluation</h6>
                                            <p class="mb-2">Lorem Ipsum is simply dummy text of the printing
                                            </p>
                                            <p class="text-muted">
                                                <i class="mdi mdi-clock"></i>
                                                7 months ago.
                                            </p>
                                        </li>
                                        <li>
                                            <h6>Promotion</h6>
                                            <p class="mb-2">Lorem Ipsum is simply dummy text of the printing
                                            </p>
                                            <p class="text-muted">
                                                <i class="mdi mdi-clock"></i>
                                                7 months ago.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:assets/partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                            <a href="http://urbanui.com/" target="_blank">UrbanUI</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                            <i class="mdi mdi-heart-outline text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>

        <!-- page-body-wrapper ends -->
    </div>